# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
# 'menu': [
#   {
#     'label': '依赖包'
#     'submenu': [
#       'label': 'monitor-treeview'
#       'submenu': [
#         {
#           'label': 'Toggle'
#           'command': 'monitor-treeview:toggle'
#         }
#       ]
#     ]
#   }
# ]
